.navbar-brand{
    margin-left: 1rem;
}

#dolar-principal{
    color: #636AE8FF;
}

.parrafo-dolar{
    font-weight: 500; 
}

.hero{
    background: linear-gradient(180deg, #171A1F 0%, #1E2127 100%);
    color: #fff;
}


main{
    opacity: 0;
    transform: translateY(50px);
    animation: aparecer 1.1s ease-out forwards;
  }

  @keyframes aparecer {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.card{
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.card-values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-column, .date-actualizacion{
    display: flex;
    flex-direction: column;
}

.card-column *, .date-actualizacion *{
    margin-bottom: 0;
}

.date-actualizacion{
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

.actas-senadores, .actas-diputados{
    max-height: 400px;
    overflow-y: auto;
    background-color: #171A1F;
}

.table-scroll{
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 0.5rem;
}

tbody > tr:hover{
    background-color: #037777;
}
